.Header {
	font: bold 40pt Times;
	color: black;
	text-align: center;
}
.Note {
	font: oblique 10pt arial;
	font-weight: normal;
	color: black;
	text-align: right
}
.Date {
	font: oblique 10pt arial;
	font-weight: normal;
	color: red;
	text-align: right
}
.Title {
	font: 20pt arial;
	font-style: normal;
	font-weight: normal;
	color: black;
	text-align: left
}
.TitleOn {
	font: 20pt arial;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	color: black;
	text-align: left;
	cursor: pointer
}
.SubTitle {
	font: 14pt arial;
	font-style: normal;
	font-weight: normal;
	color: black;
	text-align:
	left
}
.SubTitleOn {
	font: 14pt arial;
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	color: black;
	text-align: left;
	cursor: pointer
}
.ProductName {font-style: oblique}
.SubTable1 {border-bottom: 0.5pt dashed black}
.SubTable2 {border-top: 0.5pt dashed black}
.Form {
	font: 12pt arial;
	font-style: normal;
	font-weight: normal;
	color: #AA2200;
	text-align: left;
	vertical-align: top
}
.clsMouseOver {
	background-color: #ccccff;
	border: solid black 0.5pt;
	cursor: pointer
}
.URLdef {
	font: 10pt arial;
	color: blue;
	text-decoration: underline;
	cursor: pointer
}
.ResultTable TD {font-style: oblique}
.Button {
	border: 1pt solid;
	border-color: white black black white;
	text-align: center;
	background-color: #E0E0FF
}
.ButtonOn {
	border: 1pt solid;
	border-color: black white white black;
	text-align: center;
	background-color: #CCCCFF;
	cursor: pointer
}
TABLE CAPTION {font: bold 12pt arial}

/* the tooltip box */
#Hint {
	position: absolute;
	font: 8pt arial;
	color: black;
	background-color: #ffffdd;
	border: 1px solid black;
	visibility: hidden;
	-moz-opacity: 100%;		/* for netscape */
}
